<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>sample.filter.Auth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <servlet-name>MainController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sample.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlet.SearchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>sample.servlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sample.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>sample.servlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAgainServlet</servlet-name>
        <servlet-class>sample.servlet.OrderAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>sample.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>sample.servlet.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sample.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.SaveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServelet</servlet-name>
        <servlet-class>sample.servlet.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterOrderServlet</servlet-name>
        <servlet-class>sample.servlet.FilterOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>sample.servlet.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusPlant</servlet-name>
        <servlet-class>sample.servlet.UpdateStatusPlant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantServlet</servlet-name>
        <servlet-class>sample.servlet.ManagePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MangeCategoriesServlet</servlet-name>
        <servlet-class>sample.servlet.MangeCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>sample.servlet.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptOrderServlet</servlet-name>
        <servlet-class>sample.servlet.AcceptOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAgainServlet</servlet-name>
        <url-pattern>/OrderAgainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <url-pattern>/SaveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServelet</servlet-name>
        <url-pattern>/ProductDetailServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterOrderServlet</servlet-name>
        <url-pattern>/FilterOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusPlant</servlet-name>
        <url-pattern>/UpdateStatusPlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantServlet</servlet-name>
        <url-pattern>/ManagePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MangeCategoriesServlet</servlet-name>
        <url-pattern>/MangeCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/ManageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptOrderServlet</servlet-name>
        <url-pattern>/AcceptOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/errorpage.html</location>
    </error-page>
</web-app>
